/* Google Fonts Material Symbols styling */
:root {
    font-family: 'Libre Baskerville', 'Garamond', serif; 
    font-family: 'Libre Franklin', 'Helvetica', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
