*, *::before, *::after {
  box-sizing: border-box;
}

:root {
--white: #f1f4f5;
--black: #000000;
--wrong: #AF0606;
--right: #7D9F3B;
}


body {
font-family: 'Libre Franklin', 'Helvetica', sans-serif;
padding: 0;
margin: 0;
display: flex;
width: 100vw;
height: 70vh;
justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', 'Garamond', serif; 
}

.hide {
  display: none;
}

.correct {
  background: var(--right);
  color: var(--white);
  border: 2px solid var(--right);
}

.incorrect {
  background-color: var(--wrong);
  color: #f1f4f5;
  border: 2px solid var(--wrong);
}


.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  margin: 20px 0;
}

/* Google Fonts Material Symbols styling */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
